$color_dark: #0a1f38;
$color_dark-middle: #1B2F46;
$color_dark-light: #2F4056;
$color_gray: #9DA5AF;
$color_green-dark: #819400;
$color_green-middle: #97AB0D;
$color_green: #A5BB0C;
$color_green-light: #B1C909;
$color_white: #fff;
$color_error: #ff7461;